.Container{
    // border: 1px solid red;
    background: #fff;
    border-radius: 0 0 35px 35px;
    overflow-y: auto;
    @media(min-width: 768px){
        border-radius: 0 35px 35px 0;
        padding: .5rem;
        display: flex;
        justify-content: center;
    }
}