.ProyectList {
  //   border: 1px solid red;
  &_Container {
    .Proyect {
      button {
        cursor: pointer;
        outline: none;
        background-color: #f02d7b;
        width: 100%;
        border: none;
        height: 80px;
        margin: 5px 0;
        border-radius: 35px;
        color: white;
      }
    }
    @media (min-width: 768px) {
      & {
        //   border: 1px solid blue;
        padding: 0.5rem;
        width: 95%;
        ul {
          // border: 1px solid red;
          display: grid;
          grid-gap: 1rem;
          grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
          align-items: center;
          .Proyect {
            display: flex;
            button {
              position: relative;
              border-radius: 35px 0 35px 35px;
              &:before {
                content: "";
                width: 150px;
                height: 35px;
                border-radius: 35px 0 0 0;
                background-color: #f02d7b;
                position: absolute;
                top: -12px;
                right: 0;
              }
              width: 100%;
              height: 120px;
            }
          }
        }
      }
    }
  }
  &_Close {
    background-color: #f02d7b;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    border-radius: 35px;
    cursor: pointer;
    svg {
      color: white;
    }
  }
}

.NewProyect {
  // border: 1px solid red;
  background-color: #f3f3f3;
  min-height: 50vh;
  border-radius: 0 0 35px 35px;
  padding: 0.5rem;
  &_Form {
    display: flex;
    flex-direction: column;
    input {
      // border: 1px solid red;
      padding: 0.5rem;
      margin: 0.5rem 0;
      border-radius: 35px;
      outline: none;
      border: none;

      &:first-child {
        background-color: white;
        padding-left: 20px;
        &:focus {
          border: 1px solid #f02d7b;
        }
      }
    }
    textarea {
      resize: none;
      min-height: 20vh;
      border-radius: 35px;
      padding: 1rem;
      outline: none;
      font-family: Helvetica, sans-serif;
      &:focus {
        border: 1px solid #f02d7b;
      }
    }
  }
  &_Btn {
    background-color: #f02d7b;
    color: white;
    width: 80%;
    align-self: center;
  }
  @media (min-width: 768px) {
    & {
      border-radius: 0 35px 35px 0;
    }
  }
}
.EndProyects{
  // border: 1px solid blue;
  padding: 1rem .5rem;
  &_List{
    min-height: 50vh;
    &_Item{
      background-color: #e93048;
      padding: 1rem;
      border-radius: 35px;
      color: white;
    }
  }
}
