.DashboardSideBar {
  background-color: #f2f2f2;
  width: 100%;
  display: grid;
  grid-template-rows: 70px 70px;
  padding: 1rem;
  color: #4b72a8;

  &_datos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-brand {
      font-weight: 300;
      align-self: center;
      display: flex;
      align-items: center;
      p {
        text-transform: uppercase;
        font-size: 13px;
      }
    }
    &_btn {
      background-color: #f02d7b;
      //border: 2px solid #f02d7b;
      border: none;
      outline: none;
      padding: 0.3rem;
      border-radius: 35px;
      color: white;
      cursor: pointer;
      
    }
  }
  &_botones {
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
    padding: 0.2rem;
    margin: 0.3rem 0;

    &_btn {
      margin: 0 0.4rem;
      height: fit-content;
      width: 30%;
      border-radius: 35px;
      font-size: 1.5rem;
      color: #4b72a8;
      background: transparent;
      border: none; 
      outline: none;
      padding: .5rem;
      p {
        // display: none;
        font-size: 10px;
      }     
      &:focus {
        background: #f02d7b;
        color: white;
      }
     
    }
  }
  @media (min-width: 768px) {
    & {
      //height: 100%;
      // border: 1px solid red;
      // position: relative;
      // z-index: 3;
      grid-template-rows: 175px 2fr 50px;
      &_datos {
        flex-direction: column;
        &_btn {
          transition: all .2s ease-in-out;
          &:hover{
            background-color: #cc0f5b;
          }
        }
      }
      &_botones {
        flex-direction: column;
        //  border: 1px solid red;
        &_btn {
          width: 90%;
          display: flex;
          align-items: center;
          margin: 0.5rem 0;
          font-size: 1.8rem;
          cursor: pointer;
          border-radius: 35px;
          padding: 0.5rem;
          outline: none;
          transition: all 0.2s ease-in-out;
          svg {
            margin: 0 0.4rem;
          }
          p {
            font-size: 0.8rem;
          }
          &:hover {
            background: #314f79;
            color: white;
          }
          &:active {
            background: #f02d7b;
          }
        }
      }
    }
  }
}
